parameters:
    level: 9
    paths:
        - post-types
        - views
        - .
    excludePaths:
        - vendor
        - languages
        - css
        - sb-slider_carousel
    bootstrapFiles:
        - %currentWorkingDirectory%/phpstan-bootstrap.php
    
