<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="sb-slider">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="WP_TESTS_DIR" value=""/>
    </php>
</phpunit>
