.scrapbook_button1_color {
  background-color: #26547C;
  color: Black;
}

.scrapbook_button2_color {
  background-color: #EF476F;
  color: Black;
}

.scrapbook_button3_color {
  background-color: #FFD166;
  color: Black;
}

.scrapbook_button4_color {
  background-color: #06D6A0;
  color: Black;
}

.scrapbook_button5_color {
  background-color: #FFFCF9;
  color: Black;
}

.scrapbook_button6_color {
  background-color: #A14EBF;
  color: Black;
}