@import './scrapbook_variables';


p {
    font-size: 0.9rem;
  }
  
  .scrapbook_main {
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  @media only screen and (max-width: 1080px) {
    .scrapbook_main {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  
  .scrapbook_carousel {
    display: flex;
    justify-content: center;
    height: 680px;
  }
  
  .scrapbook_main_image {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .scrapbook_thumbnail {
    display: flex;
    align-items: center;
  }
  
  @media only screen and (max-width: 1023px) {
    .scrapbook_thumbnail {
      display: none;
    }
  }
  
  .index {
    display: none;
  }
  
  .scrapbook_button1,
  .scrapbook_button2,
  .scrapbook_button3,
  .scrapbook_button4,
  .scrapbook_button5,
  .scrapbook_button6 {
    text-decoration: none;
    font-size: 1rem;
    margin: 0.5rem;
    border-radius: 10%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  
  }
  
  .scrapbook_button1 {
    grid-area: button1;
    text-align: center;
  
  }
  
  .scrapbook_button2 {
    grid-area: button2;
    text-align: center;
  }
  .scrapbook_button3 {
    grid-area: button3;
    text-align: center;
  }
  
  .scrapbook_button4 {
    grid-area: button4;
    text-align: center;
  }
  
  .scrapbook_button5 {
    grid-area: button5;
    text-align: center;
  }
  
  .scrapbook_button6 {
    grid-area: button6;
    text-align: center;
  }
  
  .scrapbook_store_buttons {
    display: grid;
    grid-template-columns: 153px 154px 153px;
    grid-template-rows: auto;
    grid-template-areas:
      "button1 button2 button3"
      "button4 button5 button6";
  }
  
  
  
  .next,
  .prev {
    display: flex;
    align-items: center;
    margin: 0 5px 3rem 5px;
    height: 3rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 50%);
    color: white;
    cursor: pointer;
  }
  
  .scrapbook_image_scroll {
    display: flex;
    align-items: center;
  }

.scrapbook_button1_color:hover,
.scrapbook_button2_color:hover,
.scrapbook_button3_color:hover,
.scrapbook_button4_color:hover,
.scrapbook_button5_color:hover,
.scrapbook_button6_color:hover{
      box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
    }


    